#Introdução a Python Collections

##Documentação Data Structures

https://docs.python.org/3/tutorial/datastructures.html

##Observações:
* Lista pode ser definida como uma sequência de valores com acesso aleatório.
* No python, a lista pode ter seus valores alterados.

###Exemplos de comandos com listas

Conjunto de idades de um grupo de pessoas.

Inicializando uma lista

In [ ]:
idades = [39, 30, 27, 18]

Qual o tipo da variável 'idades'?

In [ ]:
type(idades)

list

tamanho da lista:

In [ ]:
len(idades)

4

No python, o primeira posição é o zero (assim com o no C e outras linguagens similares)

In [ ]:
idades[0]

39

Adicionando um valor no final da lista.

In [ ]:
idades.append(15)

In [ ]:
print(idades)

[39, 30, 27, 18, 15]

Remover um elemento pelo seu valor. A função remove a primeira aparição no valor.

exemplo: removendo o valor 30

In [ ]:
idades.remove(30)

In [ ]:
idades

[39, 27, 18, 15]

removendo todos os valores da lista:

In [ ]:
idades.clear()

In [ ]:
idades

[]

In [ ]:
#voltando com a lista para mais exemplos de funções
idades = [39, 30, 27, 18, 15]

verificar se há um determinado valor na lista:

In [ ]:
28 in idades

False

In [ ]:
15 in idades

True

In [ ]:
if 15 in idades:
  idades.remove(15)

inserir um elemento numa posição desejada:
obs: para inserir na primeira posição, usar posicao=0 e o resto da lista transladará.

In [ ]:
posicao = 0
elemento = 20
idades.insert(posicao, elemento)

In [ ]:
idades

[20, 39, 30, 27, 18]

inserir vários elementos no final de uma lista:

In [ ]:
idades.extend([27, 19])

criar uma lista com as idades no ano que vem (usando *list comprehension*).

Ou seja, somar mais um em todos os elemento.

In [ ]:
idades_no_ano_que_vem = [(idade+1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 31, 28, 19, 28, 20]

Filtrando elementos (usando *list comprehension*)

In [ ]:
[(idade) for idade in idades if idade> 21]

[39, 30, 27, 27]

**Atenção**:

---



Não é recomendável colocar uma lista como parâmetro default de uma função, e, sim,`None` e verificar se é `None`, mas isso também se estende para outros objetos que você pode usar como parâmetro de valor opcional, que é mutável. Portanto, é sempre bom ter esse cuidado, listas e objetos que são mutáveis.



```
def faz_processamento_de_visualizacao(lista = None):
  if lista == None:
     lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

```

#Objetos Próprios:

In [ ]:
class ContaCorrente: #nome da classe 
#atributos
# __init__ -> método construtor
  def __init__(self, codigo) : 
    self.codigo = codigo
    self.saldo = 0
#métodos
  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "[>>código {} e saldo {}<<]".format(self.codigo, self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(15) #criando o objeto
print(conta_do_gui)

[>>código 15 e saldo 0<<]

In [ ]:
conta_do_gui.deposita(500) #utilizando o método

In [ ]:
print(conta_do_gui)

[>>código 15 e saldo 500<<]

In [ ]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>código 47685 e saldo 1000<<]

In [ ]:
contas = [conta_do_gui, conta_da_dani]
for conta in contas:
  print(conta)

[>>código 15 e saldo 500<<]
[>>código 47685 e saldo 1000<<]

Definindo uma função que deposita em todas as contas

In [ ]:
def deposita_para_todas(contas):
  for conta in contas:
      conta.deposita(100)

In [ ]:
#usando a função
deposita_para_todas(contas)
print(contas[0], contas[1])

[>>código 15 e saldo 600<<] [>>código 47685 e saldo 1100<<]

#Tupla

- É imutável (não tem como modificar valores, remover ou adicionar);
- Na tupla a posição é importante;
- É interessante criar uma regra na utilização da tupla
(exemplo: primeiro elemento é nome, segundo é a idade e o terceiro o ano de nascimento);

In [ ]:
#definindo tuplas
guilherme = ('Guilherme', 37, 1981)
daniela = ('Daniela', 31, 1987)

In [ ]:
#uma lista de tuplas
usuarios = [guilherme,daniela]

In [ ]:
usuarios

[('Guilherme', 37, 1981), ('Daniela', 31, 1987)]

In [ ]:
#uma tupla de objetos
contas = (conta_do_gui, conta_da_dani)

#Polimorfismo e arrays

**Polimorfismo**, em Python, é a capacidade que uma subclasse tem de ter métodos com o mesmo nome de sua superclasse, e o programa saber qual método deve ser invocado, especificamente (da super ou sub). Ou seja, o objeto tem a capacidade de assumir diferentes formas (polimorfismo).

* evite o uso do array padrão do python

In [ ]:
from abc import ABCMeta, abstractmethod
#Se você tem um método que você quer definir na sua classe mãe e que todo mundo seja forçado a implementar,
# coloque um @abstractmethod nela, defina ela como uma classe abstrata através da meta classe ABCmeta.

#Então dessa maneira, forçamos para que o erro apareça na hora que você tem que instanciar,
#que é muito mais cedo do que o momento que você tenta chamar o método,
#porque você instancia em algum momento e os métodos só são chamados bem depois


class Conta(metaclass=ABCMeta): #nome da classe 
#atributos
  def __init__(self, codigo) : 
    self._codigo = codigo # o '_' significa PRIVADO
    self._saldo = 0
#métodos
  def deposita(self, valor):
    self._saldo += valor

    @abstractmethod #decorador
    def passa_o_mes(self):
      pass # não há nada implementado

  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
class ContaCorrente(Conta):#nome da classe (HERANÇA)
#Métodos:
  def passa_o_mes(self):
    self._saldo -= 2

class ContaPoupanca(Conta): #nome da classe (HERANÇA)
#Métodos:
  def passa_o_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3
class ContaInvestimento(Conta): 
  pass # a conta investimento não tem o método 'passa_o_mes'

In [ ]:
conta16 = ContaCorrente(16)
conta16.deposita(1000)

In [ ]:
print(conta16)

[>>Codigo 16 Saldo 1000<<]

In [ ]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)

In [ ]:
print(conta17)

[>>Codigo 17 Saldo 1000<<]

In [ ]:
for conta in contas:
  conta.passa_o_mes() #duck typing

**Duck typing**: Em programação de computadores com linguagens de programação orientadas a objetos, duck typing é um estilo de tipagem em que os métodos e propriedades de um objeto determinam a semântica válida, em vez de sua herança de uma classe particular ou implementação de uma interface explicita.

## Arrays

In [ ]:
#array
#importando o pacote
import array as arr
#para baixar o pacote no dentro do jupyter ou google colab, usar exclamação
#numpy
#!pip install numpy
import numpy as np

In [ ]:
numeros = np.array([1, 3.5])

In [ ]:
numeros

array([1. , 3.5])

Igualdade e o `__eq__`

In [ ]:
# para o exemplo, essa classe 'contasalario' não herda de Conta
class ContaSalario: 

  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

  def deposita(self, valor):
      self._saldo += valor

  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
#criando um objeto
conta1 =  ContaSalario(37)
#crindo ouro objeto
conta2 =  ContaSalario(37)
# o código e o saldo é o mesmo para os dois objetos

In [ ]:
conta1 == conta2

False

In [ ]:
# é falso pois são objetos diferentes

No python, podemos definir uma condição de igualdade específica para a classe.

Então, reescrevendo a classe ContaSalario:

obs: é interessante reinstanciar os objetos depois de fazer alterações na classe criadora.

In [ ]:
class ContaSalario: 

  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0
#verificação de igualdade
  def __eq__(self, outro):
    if type(outro) != ContaSalario: #se é do tipo contasalário ou de tipos que herdam contasalario
    #um objeto do tipo 'filho' também é do tipo 'pai'.
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo


  def deposita(self, valor):
    self._saldo += valor

  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

#uma classe filha de ContaSalario
class ContaMultiploSalario(ContaSalario):
  pass

In [ ]:
#criando um objeto
conta1 =  ContaSalario(37)
#crindo ouro objeto
conta2 =  ContaSalario(37)
# o código e o saldo é o mesmo para os dois objetos

In [ ]:
conta1 == conta2

True

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(34), Conta) #ContaCorrente herda Conta

True

# Builtins como enumerated, range e desempacotamento automatico de tuplas

https://docs.python.org/3/library/functions.html

In [ ]:
#exemplo:
idades = [15, 87, 65, 56, 32, 49, 37]

In [ ]:
enumerate(idades)# retorna um objeto do tipo enumerate

Assim como range() o enumarate é "*lazy*. Ele é criado a medida que é usado.

Assim não sobrecarrega a memória.

In [ ]:
#forçando a geração dos valores
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 65), (3, 56), (4, 32), (5, 49), (6, 37)]

In [ ]:
for valor in enumerate(idades):
  print(valor)

(0, 15)
(1, 87)
(2, 65)
(3, 56)
(4, 32)
(5, 49)
(6, 37)

##Desempacotando as tuplas

In [ ]:
for indice, idade in enumerate(idades):
  print(indice,"->", idade)

0 -> 15
1 -> 87
2 -> 65
3 -> 56
4 -> 32
5 -> 49
6 -> 37

In [ ]:
#exemplo
usuarios = [
    ("Guilherme", 37, 1981),
    ("Daniela", 31, 1987),
    ("Paulo", 39, 1979)
]

In [ ]:
for nome, idade, nascimento in usuarios: # ja desempacotando
  print(nome)

Guilherme
Daniela
Paulo

In [ ]:
for nome, _, _ in usuarios: # ja desempacotando, ignorando o resto
  print(nome)

Guilherme
Daniela
Paulo

##Ordenação básica

https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
idades

[15, 87, 65, 56, 32, 49, 37]

In [ ]:
sorted(idades)

[15, 32, 37, 49, 56, 65, 87]

In [ ]:
list(reversed(idades))

[37, 49, 32, 56, 65, 87, 15]

In [ ]:
sorted(idades, reverse = True)

[87, 65, 56, 49, 37, 32, 15]

In [ ]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 15]

In [ ]:
idades.sort() #sobrescreve a lista

In [ ]:
idades

[15, 32, 37, 49, 56, 65, 87]

## Ordenação de objetos sem ordem natural

In [ ]:
# Copiando o código da conta salário
class ContaSalario: # nome da classe
# definindo os atributos da classe
  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

#metodos da classe:
#método de  verificação de igualdade
  def __eq__(self, outro):
    if type(outro) != ContaSalario: #se é do tipo contasalário ou de tipos que herdam contasalario
    #um objeto do tipo 'filho' também é do tipo 'pai'.
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

# método que adicionaum valor no saldo de um objeto da classe
  def deposita(self, valor):
    self._saldo += valor

# método para imprimir informações da claase
  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
#criando objetos da classe ContaSalario
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

In [ ]:
contas = [conta_do_guilherme, conta_da_daniela,conta_do_paulo]

In [ ]:
#Para ordenar os saldos, podemos criar uma função que pega os valores dos saldos de cada objeto para compará-los
def extrai_saldo(conta):
  return conta._saldo #acessando um atribudo privado (não é indicado!)

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

  Um outro modo, é usando operator:
  https://docs.python.org/pt-br/3/library/operator.html

In [ ]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

# Porém ainda é necessário acessar um atributo privado (o que pode ser um problema)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

para resolver esse problema, podemos explicitar na classe como ela pode ser comparada.

In [ ]:
# Copiando o código da conta salário
class ContaSalario: # nome da classe
# definindo os atributos da classe
  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

#metodos da classe:
#método de  verificação de igualdade
  def __eq__(self, outro):
    if type(outro) != ContaSalario: #se é do tipo contasalário ou de tipos que herdam contasalario
    #um objeto do tipo 'filho' também é do tipo 'pai'.
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo
# método de comparação 'less than' (menor que)
  def __lt__(self, outro):
    return self._saldo < outro._saldo

# método que adicionaum valor no saldo de um objeto da classe
  def deposita(self, valor):
    self._saldo += valor

# método para imprimir informações da claase
  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
#criando objetos da classe ContaSalario depois da modificação da classe
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

In [ ]:
#comparando contas
conta_do_guilherme < conta_da_daniela

True

In [ ]:
conta_do_guilherme > conta_da_daniela

False

In [ ]:
contas = [conta_do_guilherme, conta_da_daniela,conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

## Ordenação completa e functools

In [ ]:
# e se tivesse duas contas com saldo igual
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
#utilizando o attrgetter
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")): #codigo é o critério de desempate
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
# inserir esse critério na própria classe
# Copiando o código da conta salário
class ContaSalario: # nome da classe
# definindo os atributos da classe
  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

#metodos da classe:
#método de  verificação de igualdade
  def __eq__(self, outro):
    if type(outro) != ContaSalario: #se é do tipo contasalário ou de tipos que herdam contasalario
    #um objeto do tipo 'filho' também é do tipo 'pai'.
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo
# método de comparação 'less than' (menor que)
  def __lt__(self, outro):
    #primeiro precisamos saber se o saldo é diferente
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

# método que adicionaum valor no saldo de um objeto da classe
  def deposita(self, valor):
    self._saldo += valor

# método para imprimir informações da claase
  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
# e se tivesse todas as contas com saldo igual
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(500)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
for conta in sorted(contas):
  print(conta)

[>>Codigo 3 Saldo 500<<]
[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 500<<]

## Implementação do menor ou igual

https://python.readthedocs.io/en/v2.7.2/library/functools.html

In [ ]:
from functools import total_ordering

In [ ]:
# utiliando o functools

# inserir esse critério na própria classe
# Copiando o código da conta salário

@total_ordering
# se definido o __eq__ e mais um outro método de comparação, esse decorator irá generalizar as regras
class ContaSalario: # nome da classe
# definindo os atributos da classe
  def __init__(self, codigo):
      self._codigo = codigo
      self._saldo = 0

#metodos da classe:
#método de  verificação de igualdade
  def __eq__(self, outro):
    if type(outro) != ContaSalario: #se é do tipo contasalário ou de tipos que herdam contasalario
    #um objeto do tipo 'filho' também é do tipo 'pai'.
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo
# método de comparação 'less than' (menor que)
  def __lt__(self, outro):
    #primeiro precisamos saber se o saldo é diferente
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

# método que adicionaum valor no saldo de um objeto da classe
  def deposita(self, valor):
    self._saldo += valor

# método para imprimir informações da claase
  def __str__(self):
      return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
# declarando os objetos novamente pois a construção da classe foi alterada
conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(520)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(1500)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

In [ ]:
conta_do_guilherme == conta_do_guilherme

True

In [ ]:
conta_do_guilherme >= conta_do_guilherme

True

In [ ]:
conta_do_guilherme == conta_do_paulo

False

In [ ]:
conta_do_guilherme >  conta_do_paulo

False

In [ ]:
conta_do_guilherme <=  conta_do_paulo

True

In [ ]:
conta_do_guilherme >= conta_da_daniela

False